<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/dorofeiev_db_lab_4?allowPublicKeyRetrieval=true&amp;useLegacyDatetimeCode=false&amp;serverTimezone=Europe/Amsterdam&amp;useSSL=false</property>
        <property name="hibernate.connection.username">meteostation</property>
        <property name="hibernate.connection.password">meteostation123</property>
        <property name="hibernate.connection.pool_size">10</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.show_sql">false</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

        <mapping class="ua.lviv.iot.domain.City" />
        <mapping class="ua.lviv.iot.domain.DataInterval" />
        <mapping class="ua.lviv.iot.domain.ManufacturerAddress" />
        <mapping class="ua.lviv.iot.domain.MeteostationManufacturer" />
        <mapping class="ua.lviv.iot.domain.Meteostation" />
        <mapping class="ua.lviv.iot.domain.MeteostationData" />
        <mapping class="ua.lviv.iot.domain.MeteostationLocation" />
        <mapping class="ua.lviv.iot.domain.MeteostationService" />
        <mapping class="ua.lviv.iot.domain.Street" />
        <mapping class="ua.lviv.iot.domain.WindDirection" />
    </session-factory>
</hibernate-configuration>